# Documentação do htaccess: https://httpd.apache.org/

# Ativa o módulo de reescrita de urls
RewriteEngine On

# !-d informa que será criada uma condição a ser aplicada ao nome do drietório requisitado. ! é usado para negação  e -dé utilizado para verificar a existência de um diretório físico. EX: SE O ARQUIVO REQUISITADO NÂO EXISTIR.
RewriteCond %{REQUEST_FILENAME} !-d

# !-f informa que será criada uma condição a ser aplicada ao nome do arquivo requisitado. O sinal de exclamação é usado para negação e -f é utilizado para verificar a existência de um arquivo físico. A condição é: SE O ARQUIVO REQUISITADO NÃO EXISTIR FISICAMENTE.
RewriteCond %{REQUEST_FILENAME} !-f

# !-l informa que será criada uma condição a ser aplicada ao nome do arquivo requisitado. ! é a negação e -l é utilizado para verificar a existencia de um arquivo físico. A condição é: SE O ARQUIVO REQUISITADO NÃO EXISTIR FISICAMENTE.
RewriteCond %{REQUEST_FILENAME} !-L

# Faz a reescrita da url.
# O circunflexo indica o inicio e o cifrão indica o fim 
# (.+) pegar todo o conteúdo da url.
# index.php?params=$1 indica para substituir a requisição, redirecionando o fluxo para o index.php e passando-o como parâmetro completo.
# Exemplo: index.php?url=blog/index
# QSA significa que, se houver uma string de consulta passado com a url original, ela será anexada a reescrita.
#Exemplo: blog?situacao=1 será reescrita como index.php?url=blog&p=situacao.
# O sinalizador [L] faz com que o mod_rewrite interrompa o processamneto do conjunto de regras.
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Quando ocorrer algum erro, redirecione o usuário.
ErrorDocument 403 /tasks_projects/public/403.php

ErrorDocument 500 /tasks_projects/public/500.php

# Bolquear as opções de listar arquivos do diretório.
Options -Indexes 

# Boloquear o acesso a arquivo .env
<FILES .env>
    Order allow,deny
    Deny from all
</FILES>

# Bloqueando acesso a arquivos especificos
<FilesMatch "^(\.htaccess|composer\.json|composer\.lock|README\.md)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteRule ^apis/ - [F]
RewriteRule ^public/ - [F]



