body {
    display: flex;
    justify-content: center;   
    flex-direction: column;
    align-items: center;       
    height: 100vh;            
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: white;
}
.header .titulo{
    font-size: 2em;
}
.boxLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 20rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
}
.caixa-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
input{
    width: 18em;
    height: 1.7em;
}
input:focus {
    outline: none;
    border-color: rgb(22, 40, 25);
    box-shadow: 0 0 15px 6px rgba(22, 40, 25, 0.4);
}
button{
    width: 5em;
    background-color: rgba(33, 33, 33, 0.85);
    align-self: center;
    margin-bottom: 0.5em;
    height: 2.2em;
    border-radius: 5px;
    border: 1px solid; 
    cursor: pointer;
    color: white;
}
.links{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}
a {
    text-decoration: none;
}
.erro {
    color: red;
    text-align: center;
    margin-bottom: 1em;
}